
    
    <table>
        <tr>
            <th>氏名</th>
            <td><%= user.name%></td>
        </tr>
        <tr>
            <th>出身地</th>
            <td><%=user.birthplace%></td>
        </tr>
        <tr>
            <th>趣味</th>
            <% user.hobby.forEach((hobby)=>{ %>
                <td><%=hobby%></td>
            <% }) %>
        </tr>
    </table>


