<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>プロフィールページ</h1>
    <table>
        <tr>
            <th>氏名</th>
            <td>yse</td>
        </tr>

        <tr>
            <th>年齢</th>
            <td>0</td>
        </tr>
    </table>
</body>
</html>